# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# ========================
# Virtual environment
# ========================
venv/
env/
ENV/

# ========================
# Environment variables
# ========================
.env

# ========================
# VSCode
# ========================
.vscode/

# ========================
# Data, cache & results
# ========================
results/
uploads/
hf_cache/
*.db

# ========================
# Logs and temp files
# ========================
*.log
*.tmp
*.bak
*.swp
